.cart-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 2px solid #8a2b06;
    padding: 1rem 0;
    margin: 1rem 0;
    .summary {
        width: 10rem;
        display: flex;
        align-items: center;
        .price {
           font: inherit;
           font-size: auto;
           margin-right: 5px;
        }
        .amount {
            border: 1px solid grey;
            border-radius: 5px;
            font: inherit;
            padding: 2px;
            color: var(--secondary-color);
            font-size: 15px
        }
    }
    .actions {
        display: flex;
        flex-direction: row;
        button {
            margin: 2px;
            width: 50px;
            color: black;
            background-color: white;
            border: 2px solid var(--secondary-color);
        }
    }
}