.button {
    padding:4px;
    background-color: Transparent;
    color: white;
    display: flex;
    width: 150px;
    align-items: center;
    border: 3px solid var(--primary-color);
    border-radius: 15px;
    justify-content: space-between;
    font-weight: bold;
    span {
        padding: 0px 4px;
    }
    .icon {
        width: auto;
        height: auto;
    }
    .badge {
        background-color: #5f09097a;
        padding: 0.25rem 1rem;
        border-radius: 25px;
        margin-left: .3rem;
        font-weight: bold;
    }
        .bump {
  animation: bump 300ms ease-out;
}

@keyframes bump {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}
}