.container {
    display: flex;
    align-items: center;
    flex-direction: column;
}
button {
    padding: 5px;
    width: 100px;
    background-color: var(--secondary-color);
    color: white;
    border: none;
    border-radius: 10px;
    font: inherit;
    cursor: pointer;
}