@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap');

:root {
  --primary-color: rgba(44, 40, 40, 0.699);
  --secondary-color: rgba(143, 4, 4, 0.63);
}

body {
 background-color: var(--primary-color);
 color: white;
 font-family: 'Poppins', sans-serif;
}
